h3 {
            text-align: center;
        }

        form {
            max-width: 800px;
            margin: 0 auto;
            padding-top: 40px;
        }

        ol {
            list-style-type: none;
            counter-reset: question-counter;
            padding: 0;
        }

        li {
            margin-bottom: 20px;
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 8px;
        }

        p {
            font-weight: bold;
            margin-bottom: 10px;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li input[type="radio"] {
            margin-right: 5px;
        }

        label {
            cursor: pointer;
        }

        input[type="button"] {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#submitTestButton {
    background-color: #4caf50;
    color: white;
}

#submitTestButton:hover {
    background-color: #45a049;
}

#checkTestButton {
    background-color: #008CBA;
    color: white;
}

#checkTestButton:hover {
    background-color: #007B9F;
}

        #result {
            margin-top: 20px;
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 8px;
        }

        .question-result {
            margin-bottom: 20px;
        }

        .correct-answer {
            color: green;
        }

        .incorrect-answer {
            color: red;
        }

        .explanation {
            font-style: italic;
            margin-top: 5px;
        }